K3S_HOST=192.168.68.54
K3S_USER=
K3S_SSH_KEY_PATH=
REMOTE_SUDO_PASSWORD=

AUTH_SECRET=
ADMIN_USERNAME=
ADMIN_PASSWORD=

APP_ROOT=
BE_ROOT=
APP_IMAGE_NAME=jmalab24/vista-monte-mar-app
APP_IMAGE_TAG=dev
BE_IMAGE_NAME=jmalab24/vista-monte-mar-be
BE_IMAGE_TAG=dev
SKIP_INGRESS=0

SMTP_USER=
SMTP_PASS=
SEND_TO=

POSTGRES_DB=visitor_analytics
POSTGRES_USER=visitor_user
POSTGRES_PASSWORD=change-me
