apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: app
        image: {{ if .Values.environment.SPACE | eq "production" }}{{ .Values.app.images.prod }}{{ else }}{{ .Values.app.images.dev }}{{ end }}
        ports:
        - containerPort: 80
        env:
        - name: DOMAIN
          value: {{ .Values.domain }}