apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: {{ .Values.namespace }}
  annotations:
    keel.sh/policy: force
    keel.sh/trigger: poll
    keel.sh/pollSchedule: "@every 1m"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
      annotations:
        checksum/config: {{ now | date "20060102150405" | quote }}
    spec:
      containers:
      - name: app
        image: {{ if .Values.environment.SPACE | eq "production" }}{{ .Values.app.images.prod }}{{ else }}{{ .Values.app.images.dev }}{{ end }}
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        env:
        - name: DOMAIN
          value: {{ .Values.domain }}