apiVersion: v1
kind: Service
metadata:
  name: app
  namespace: {{ .Values.namespace }}
spec:
  type: {{ if .Values.environment.SPACE | eq "production" }}ClusterIP{{ else }}NodePort{{ end }}
  selector:
    app: app
  ports:
  - port: 80
    targetPort: 80
    {{ if .Values.environment.SPACE | eq "development" }}
    nodePort: 30080
    {{ end }}