apiVersion: v1
kind: Service
metadata:
  name: app
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.ingress.type }}
  selector:
    app: app
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080