apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      websecure:
        tls:
          enabled: {{ if .Values.environment.SPACE | eq "production" }}true{{ else }}false{{ end }}
      web:
        redirectTo:
          port: websecure