apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
      {{- if .Values.environment.SPACE | eq "development" }}
      nodePort: 30088 # Adjust to your desired port for NodePort
      {{- end }}
  {{- if .Values.environment.SPACE | eq "development" }}
  type: NodePort
  {{- else }}
  type: ClusterIP
  {{- end }}
